
html{
   background-color: #f6f8ff;
}
 
  
   fieldset {
      display: grid;
      grid-template-columns: 100px 100px 100px 1fr ;
      grid-template-rows: 100px;
      grid-column-gap: 100px;
   }
  
  
   form {
      background-color: #efca08;
      margin: 0;
   
   }

   footer{
      margin: 0;
      background-color: #798071;
   }
  





 