html{
  background-color: #0cb6dc;
}

h1{
  background-color: #07063f;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
}

.card {
    display: flex;
    flex-wrap: wrap;
      background-color:  #c4c4c4;
    border-radius: 15px;
    width: calc(100vw / 2 - 15px);
    margin: auto;
  }
  .image {
    flex: 1 1 120px;
  
    display: flex;
      align-items: center;
      justify-content: center;
  }
  .content {
    flex: 1 1 200px;
  
  }
  img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  .blue {
    background-color : blue;
    width: 100%;
    height: 30px;
  }
  .red {
    background-color: #07063f;
    height: 100%;
    width: clamp(100px, 10%, 300px);
  }
  
  .flex {
    display: flex;
  flex-wrap: wrap;
    gap: 15px;
    outline: 1.5px solid blue;
  }
  .item {
    flex:1 100px;
    background-color: #07063f;
    height: fit-content;
    outline: 1.5px solid blue;
    color: white;
  }


  footer{
    
    margin: 0;
    padding-left: 30px;
    background-color:black ;
    color: white;
}