

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    
}



.container {
    background-image: url(https://media.istockphoto.com/photos/financial-market-information-and-data-analyzing-picture-id1272926047?k=20&m=1272926047&s=612x612&w=0&h=N-BR8e7oHBmEnMaBgnaQAQHX5XUNqxn7zitGS_wIpn0=);
}

 

 */

nav :hover {
    color: #f6f8ff;
}

nav a {

    text-decoration:none ;

}


*/
.container h1 h2{
position: relative;
top: 200px;
}
table b{

    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 20px;    
}


h1 {
    font-size: 40px;
    color: #623B5A;
    font-style: italic;
    margin: 0;
    padding: 5px 0 10px 15px;
    
    
}

@keyframes desplazamiento {
    0%{
       position: relative;
       left: 0;
    }

    50% {color: #623B5A;

    }

    100% {
        color: black;
        left: 80%
    }

}

h2 {
    padding-right: 10px;
    color: #efca08;
    font-size: 50px;
    font-style:initial;
    animation-name: desplazamiento;
    animation-duration: 10s ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    
}

h3 { 

    font-style: italic;
    margin: 0;
    color: #623B5A; 
    padding: 0 0 5px 15px;  
}

h3 b {
    font-size: 60px;
    padding-left: 290px;
}

#capital {

    color: black;
    font-family: sans-serif;
}

[class="methods"] {
    background-color:  #efca08;
    color: black;
    padding-right: 310px;
    border-width: 5px;
    border-radius: 10px;
    margin: 0;
    font-size: 30px;
    font-style: italic;
    padding-left: 300px;
    text-align: center;
}

footer{
    
    margin: 0;
    padding-left: 30px;
    background-color:#623B5A;
}

[contact=contact] {
    color: #f6f8ff;
    font-style: italic;
    font-size: medium;
    font-weight: 700;
}
